@use '../../../styles/vars';

.form-contact {
    box-shadow: vars.$box-shadow;
    background: vars.$tertiary-color;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.5rem;
    

    &__title {
        color:rgb(226, 85, 132);
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
    }

    &__lastname {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__firstname {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__email {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__phone {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

label {
    color: rgb(226, 85, 132);
    font-weight: bold;
    margin: 0 auto;
}

.message {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    padding: 20px 20px;
    font-size: 22px;

    &__text {
        margin-top: 5px;
        padding: 10px;
        background-color: #f8f8f8;
        border: 2px solid rgb(226, 85, 132);
        outline: none;
        border-radius: 5px;
        resize: none;
        font-size: .8rem;
        letter-spacing: 1px;
    }
}



