@use '../../../styles/vars';

.form__contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: vars.$box-shadow;
    background: vars.$tertiary-color;
    padding: 3rem;
    gap: 0.5rem;
    border-radius: 0.5rem;
    height: 100%;


    &__title {
        color:rgb(226, 85, 132);
        font-weight: bold;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 0.6rem;
    }

    &__fields {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        
        &__label {
            color: rgb(226, 85, 132);
            font-weight: bold;
            width: 10rem;
        }
        
    }
}


.message {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    font-size: 22px;
    
    &__label {
        text-align: center;
        color: rgb(226, 85, 132);
        font-weight: bold;
    }
    
    &__text {
        width: 100%;
        margin-top: 5px;
        background-color: #f8f8f8;
        outline: none;
        padding: vars.$halfGutter;
        border-radius: vars.$border-radius;
        border: vars.$border; 
        resize: none;
        font-size: .8rem;
        letter-spacing: 1px;
    }
}

@media screen {
    
}


