@use '../../../styles/vars';

.products-menu{
    position: absolute;
    z-index: 20;
    left: 45%;
    height: 70vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    box-shadow: vars.$box-shadow;
    background: vars.$tertiary-color;
    border-radius: 0.5rem;
    align-items: flex-start;
    transform: translate(-50%,-50%);
    perspective: 1000px;
    transition: all .4s ease-in-out;
    transform: scale(1);
    
    




    &__cover{
        width: 84%;
        height: 100%;
        background: rgba(228, 225, 225, 0.2);
        position: absolute;
        top: 0;
        left: 17%;
        transform: rotateY(-15deg);
        transform-style: preserve-3d;
        transform-origin: left;
        transition: all .3s ease-in ;
        border-bottom-right-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        

        &__front{
            background: rgb(241, 240, 179);
            border-top: 2px solid gray;
            border-bottom: 2px solid gray;
            border-right: 2px solid gray;

            &__title{
                position: absolute;
                top: 30%;
                font-size: 7rem;
                text-align: center;
            }
        }


        &__back{
            transform: rotateY(180deg);
            box-shadow: vars.$box-shadow;
            background: rgb(241, 221, 179);
            

            &__img{
                width: 100%;

            }

            &__title{
                font-size: 1.5rem;
                height: 10%;
                margin: 2rem;
            }
        }

        

    }

    .menu-img{
        margin: auto;
        width: 80%;
        height: 50%;
    }

    .active {
            transform: rotateY(-170deg);
            transition: transform 1.5s ease-in-out;
        
    }

    .inactive{
        transform: rotateY(-30deg);
    }
}


.products-menu__cover>figure{
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}



.nonvisible{
    transform: scale(0);
    visibility: hidden;
    transition: all 1s ease-in-out;
    background-color: rgb(241, 240, 179);
}


.fas{
    position: absolute;
    top: 3px;
    right: 3px;
    cursor:pointer;
    &:hover{
        font-size: 1.3rem;
    }

}


.product-card{
    margin-top: 0.85rem;
    width: 83%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-left: 17%;

    &__img{
        width: 75px;
        height: 75px;
        border: 1px solid black;
        border-left: 1px solid lightgray;
    }

    &__img>img{
        width: 100%;
        height: 100%;
    }
}