@use '../../../styles/vars';

.products-menu{
    position: absolute;
    bottom: 200px;
    z-index: 20;
    height: 50vh;
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    box-shadow: vars.$box-shadow;
    background: vars.$tertiary-color;
    border-radius: 0.5rem;
}

.product-card{
    flex-basis: 50%;
    height: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;

    &__img{
        width: 15%;
    }

    &__img>img{
        height: 50%;
    }
}