@use '../../styles/vars';
@font-face { font-family: CandyFul; src: url('../../assets/Candyful\ -\ Free\ Trial.ttf'); } 


body {
  font-family: 'Nova Round', cursive;
  background: vars.$primary-linear;
  background-repeat:no-repeat;
  background-size: cover;
}
.App{
  position:relative;
  min-height: 100vh;
  
}
h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-family: CandyFul, sans-serif;
  font-size: 4rem;
  color: aliceblue;
  text-shadow: 4px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

img {
  max-width: 100%;
}
