.contact {
    background-image: url(../../assets/crepe-contact.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
    
    &__container {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;

        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.25);
        box-shadow: 0 15px 25px rgba(0,0,0,0.05);
        border-radius: 20px;
        opacity: 0.8;
        padding: 20px;
    }
}