.container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        width: 600px;
        height: 360px;
    }

    &__categories {
        display: flex;
        width: 200px;
        height: 120px;
        
        &__image {
            width: 100%;
            height: auto;
        }
    
    }

}

