@use '../../styles/vars';

.container {
    position: absolute;
    top: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: auto;
    background-image: url("../../assets/presentation-sables/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: rgb(20, 20, 20);



    &__left {
        width: 600px;
        margin: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        
        &__categories {
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            height: 100%;
            justify-content: center;
            
            &__image {
                width: 180px;
                height: 180px;
                border: vars.$border;
                border-radius: 20px;
                margin-bottom: 1rem;
                -webkit-transition: all 0.3s ease;
                opacity: .5;

                &:hover {
                    -webkit-transform:scale(1.1);
                    opacity: 1;
                }
            }

            &__text {
                text-align: center;
                margin-bottom: 2rem;

                &:hover {
                    color: vars.$tertiary-color;
                }
            }
        }
    }

    &__center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        &__title {
            margin: 0 2rem 2rem;
            width: auto;
            height: 415px;
            border-radius: 20px;
        }

        &__description {
            padding: 0 2rem;
            text-align: center;
        }
    }

    &__right {
        width: 600px;
        margin: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        
        &__categories {
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            height: 100%;
            justify-content: center;

            
            &__image {
                width: 180px;
                height: 180px;
                border-radius: 20px;
                margin-bottom: 1rem;
                -webkit-transition: all 0.3s ease;
                opacity: .5;

                &:hover {
                    -webkit-transform:scale(1.1);
                    opacity: 1;
                }
            }

            &__text {
                text-align: center;
                margin-bottom: 2rem;


                &:hover {
                    color: vars.$tertiary-color;
                }
            }
        }
    }
}

p {
    color: black;
}