@use '../../../styles/vars';

.orders {
    width: 80%;
    overflow-y: scroll;
    background-color: vars.$tertiary-color;
    border-radius: vars.$border-radius;
    padding: 1rem;
    margin: 0 auto;

    &__title {
        padding-bottom: 1rem;
        margin-left: 1rem;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;

        &>div {
            flex-basis: 30%;
        }
    }
}