.informations {
    display: flex;
    padding: 2rem;
}

@media only screen and (max-width: 680px) {
    .informations {
        flex-direction: column;
        margin: 2rem;
        align-items: center;
        padding: 0;
        margin-bottom: 4rem;
    }
}