.container{
    margin: 3rem;
}

.cart__header{
    font-size: 2rem;
}

.cart__content {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.cart__body{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &__legend{
        display: flex;
        gap: 3rem;
    }

}

.card{
    display: flex;
    gap: 3rem;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
}

.cart__ender{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    border: 1px solid grey;
    margin-left: 3rem;
}

