@use '../../../styles/vars';

.adresse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    margin: 0 1rem;
    box-shadow: vars.$box-shadow;
    background: vars.$tertiary-color;
    gap: 0.5rem;
    border-radius: 0.5rem;
    max-height: 80vh;

    &__p {
        margin-bottom: 20px;
        color: rgb(22, 22, 22);
        font-weight: bold;
    }

    &__img {
        width: 540px;
        height: 415px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 10px;
    }
}

h3 {
    color: rgb(201, 55, 103);
    font-weight: bold;
    margin-top: 10px;
}
