.footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 20px;

    &__image {
        display: flex;
        
        
        &-facebook {
            width: 30px;
            height: 30px;
            margin: 0 30px;
        }
    
        &-instagram {
            width: 30px;
            height: 30px;
        }
    }
}