// @use '../../styles/vars';

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

    &__image {
        display: flex;
        
        &-facebook {
            width: 1.875rem;
            height: 1.875rem;
            margin: 0 1.875rem;
        }
    
        &-instagram {
            width: 30px;
            height: 30px;
        }
    }
}