@use '../../../styles/vars';

.card-favorite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid vars.$tertiary-color;
    box-shadow: vars.$box-shadow;

    &__name {
        padding-bottom: vars.$gutter;
    }

    &__img {
        padding-bottom: vars.$gutter;
    }
    
    &__button {
        background-color: rgb(226, 85, 132);
        border-radius: 20px;
        color: vars.$tertiary-color;
        font-weight: bold;
    }

}