@use '../../../styles/vars';

.navbar{
    font-size: 1.3rem;
    display: flex;
    background: rgba(228, 225, 225, 0.2);
    justify-content: center;
    gap: 10rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
    border-top: 2px solid rgba(255, 255, 255, 0.25);
    margin-top: 1rem;

    &__1{
        display: flex;

    }

    &__2{
        display: flex;
        
    }

}


.disconnectBtn{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover{
        color: white;
        background-color: rgba(238, 140, 190, 0.403);
        border-radius: 1rem;
        transition-duration: 0.3s;
    }
}

.fa-power-off{
    font-size: 1.5rem;

    &:hover{
        font-size: 1.8rem;
        transition-duration: 0.3s;
    }
}

.navlink{
    margin: 0;
    padding: 1.5rem;
    width: 200px;
    
}

.navlink:hover{
    background: rgba(238, 140, 190, 0.403);
    border-radius: 1rem;
    color: white;
    font-size: 1.5rem;
    transition-duration: 0.7s;
    font-weight: bold; 
}

.isactive{
    background: rgba(238, 140, 190, 0.403); 
    border-radius: 1rem;
    color: white;
    font-weight: bold;
}

.navbar__mobile{
    display: none;
}

.menu__mobile{
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
    position: fixed;
    z-index: 10;
    top: 90px;
    display: flex;
    flex-direction: column;
    box-shadow: vars.$box-shadow;
    background: vars.$tertiary-color;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    
}

.menu__mobile--open{
    transform: translateX(0);
    transition: transform 0.5s ease-out;
    position: fixed;
    z-index: 10;
    top: 85px;
    width: 70%;
    display: flex;
    flex-direction: column;
    box-shadow: vars.$box-shadow;
    background: vars.$tertiary-color;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;

}

.menu__mobile__link{
    padding: 1rem;
    border-bottom: 2px solid grey;

    &:last-child{
        border: none;
    }
}

.disconnectBtn__mobile{
    padding: 1rem;
}




@media only screen and (max-width: 1400px) {
    .navbar{
        gap: 5rem;
    }
    .navlink{
        width: 180px;
    }

    .fa-power-off{
        font-size: 1.2rem;
    
        &:hover{
            font-size: 1.5rem;
            transition-duration: 0.3s;
        }
    }
}

@media only screen and (max-width: 1400px) {
    .navbar{
        gap: 5rem;
        font-size: 0.9rem;
    }
    .navlink{
        width: 180px;
    }
    .navlink:hover{
        font-size: 1rem;
    }

    .isactive{
       font-size: 1rem;
    }
}

@media only screen and (max-width: 1200px) {
    .navlink{
        padding: 1.5rem 0;
        width: 130px;
    }
}

@media only screen and (max-width: 900px) {
    .navbar{
        gap: 2rem;
    }
    .navlink{
        width: 100px;
    }
}

@media only screen and (max-width: 700px) {
    .navbar{
        gap: 0;
    }
}


@media only screen and (max-width: 600px) {
    .navbar{
        display: none;

        &__mobile{
            background: vars.$primary-linear;
            background-repeat:no-repeat;
            background-size: cover;
            z-index: 1;
            position: fixed;
            top: 0;
            width: 100%;
            display: block;
            border-bottom: 2px solid rgb(226, 85, 132);
            display: flex;
            justify-content: center;
            align-items: center;
            &__cartIcon, &__accountIcon{
                flex-basis: 20%;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

             i{
                font-size: 1.5rem;
                color: rgb(226, 85, 132);
            }

            &__title{
                flex-basis: 35%;
                font-family: CandyFul, sans-serif;
                font-size: 2.5rem;
                color: aliceblue;
                text-shadow: 4px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
            }
        } 

        
    }

    .menu-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        cursor: pointer;
        transition: all .5s ease-in-out; 
      }
      .menu-btn__burger {
          content: '';
        width: 50px;
        height: 6px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
      }
      .menu-btn__burger::before,
      .menu-btn__burger::after {
        content: '';
        position: absolute;
        right: 15px;
        width: 50px;
        height: 6px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
      }
      .menu-btn__burger::before {
        transform: translateY(-16px);
      }
      .menu-btn__burger::after {
        transform: translateY(16px);
      }
      /* ANIMATION */
      .menu-btn.open .menu-btn__burger {
        transform: translateX(-35px);
        background: transparent;
        box-shadow: none;
      }
      .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
      }
      .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
      }
      
}
