.error {
    gap: 1rem;
    font-size: 2rem;
    width: 40rem;
    padding: 2rem;
    margin: 5rem auto;
    display: flex;
    border-radius: 0.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.507);

    &__button {
        text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
        letter-spacing: .2rem;

        &:hover {
            color: #41bdad;
            
        }
    }
}