.isClient{
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    
    
}

@media only screen and (max-width: 500px) {
    .login-title{
        font-size: 1rem;
    }
}


@media only screen and (max-width: 350px) {
    .button{
        padding: 0.5rem;
    }
}