@use '../../styles/vars';

.addresses {
    margin-top: 1rem;
    overflow-y: scroll;
    display: flex;
    min-height: 70vh;

    &>button {
        height: 4rem;
    }

    &__container{
        width: 50%;
        padding: 2rem;
        box-shadow: vars.$box-shadow;
        background: vars.$tertiary-color;
        border-radius: 0.75rem;
        margin: auto;
    }
}