@use '../../styles/vars';

.addresses {
    width: 80%;
    overflow-y: scroll;
    padding: 2rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    box-shadow: vars.$box-shadow;
    background: vars.$tertiary-color;
    border-radius: 0.75rem;
    margin: 0 auto;
    justify-content: space-evenly;

    &>button {
        height: 4rem;
    }
}