.menu{

  margin-top: 2rem;

    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &__liquid{
        max-width: 630px;
        width: 100%;
        height: 30vh;
        position: relative;
        opacity: 0;
        -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-animation: 1s appear 1 forwards;
  -moz-animation: 1s appear 1 forwards;
  -o-animation: 1s appear 1 forwards;
  animation: 1s appear 1 forwards;
    }


    &__solid{
      max-width: 630px;
        width: 100%;
        height: 30vh;
        position: relative;
        opacity: 0;
        -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-animation: 1s appear 1 forwards;
  -moz-animation: 1s appear 1 forwards;
  -o-animation: 1s appear 1 forwards;
  animation: 1s appear 1 forwards;
    }
}


.menu-overlay{
 display: none;
}

 .overOn{
   display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0,0,0, .4);
}

@-webkit-keyframes appear {
    15% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes appear {
    15% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-o-keyframes appear {
    15% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes appear {
    15% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @media only screen and (max-width: 600px) {

  }
