.message {
    display: flex;
    flex-direction: column;
    font-size: 25px;

    &__label {

    }

    &__text {
        margin-top: 5px;
        padding: 100px;
        background-color: #f8f8f8;
        border: 2px solid rgb(226, 85, 132);
        outline: none;
        border-radius: 5px;
        resize: none;
        height: 100%;
    }

    &__button {
        margin-top: 10px;
        background-color: rgb(226, 85, 132);
        color: white;
        font-size: 15px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        outline: none;
        cursor: pointer; 
        transition: transform 0.5s;
    }

    &__button:hover {
        transform: scale(1.05);
    }
}
