.background-account {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    top: 0;
    background-image: url("../../assets//account/account.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 12rem;
}