@use '../../../styles/vars';

.form__auth {
    width: 80%;
    box-shadow: vars.$box-shadow;
    background: vars.$tertiary-color;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: vars.$border-radius;
}

@media only screen and (max-width: 700px) {
    .form__auth{
        gap: 0.2rem;
    }
}

@media only screen and (max-width: 350px) {
    .form__auth{
        width: 90%;
    }
}