@use '../../../styles/vars';

.form__auth {
    width: calc(50% - 0.75rem);
    box-shadow: vars.$box-shadow;
    background: vars.$tertiary-color;
    margin: auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: vars.$border-radius;
}