.form {
    width: calc(50% - 0.75rem);
    background-image: linear-gradient(-225deg, #cbeff8 0%, #f8e5c3 100%);
    margin: auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.5rem;
}